<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h2 class="modal-title">
        <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
        Co-financing and trust fund projects
    </h2>
</div>
<div class="modal-body">

    <div ng-include="'App/Templates/TrustFundTemplete.html'"></div>

</div>
<div class="modal-footer">
    <!--<button class="btn btn-primary" type="button" ng-click="Save()">Save</button>-->
    <button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
</div>

