<div role="tabpanel" class="tab-pane active" id="other-dps" ng-controller="9OtherDPsActivitiesController">
    <div class="row">
        <div class="col-md-12">
            <h2>
                <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                Activities delegated from other DPs
            </h2>
            <p class="lead">
                Other DPs have delegated the following
                activities to you. They are probably contributions to projects
                that you manage.
            </p>
            <p class="lead">
                Please map these activities against your own projects.
            </p>
            <hr />
            <table class="table">
                <thead>
                    <tr>
                        <th>Activity title</th>
                        <th>Reported by</th>
                        <th>Map to project</th>
                        <th style="min-width: 150px;">Map to trust fund</th>
                        <!--<th></th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="activity in AssignedActivities">
                        <td>{{activity.Title}}</td>
                        <td>{{activity.ReportingOrg}}</td>
                        <td>
                            <select class="form-control" ng-disabled="activity.MappedTrustFundId != 0 && activity.MappedTrustFundId != null"
                                    ng-model="activity.MappedProjectId"
                                    ng-options="item.ProjectId as item.Title for item in Projects">
                                <option value="">Select one...</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" ng-disabled="activity.MappedProjectId != 0 && activity.MappedProjectId != null"
                                    ng-model="activity.MappedTrustFundId"
                                    ng-options="item.ID as item.Name for item in TrustFunds">
                                <option value="">Select one...</option>
                            </select>
                        </td>
                        <!--<td>
                            <input ng-click="OpenTFnCF(activity)" class="btn btn-primary" value="Map" />
                        </td>-->
                    </tr>
                </tbody>
            </table>

            <hr>

            <div class="form-group">
                <div class="col-md-12 btnFooter">
                    <a class="btn btn-default" ng-href="#/9Cofinancing">Next</a>
                </div>
            </div>
        </div>
    </div>
</div>