<div role="tabpanel" class="tab-pane active" id="review" ng-controller="7ReviewAdjustmentController">
    <div class="row">
        <div class="col-md-12">
            <h2>
                <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                7. Review and import
            </h2>
            <p class="lead">
                Your projects are listed below. We have
                highlighted with <span class="label label-danger"><i class="glyphicon glyphicon-asterisk"></i></span>
                those projects where the financial data is
                significantly different (5% or greater). You may wish to
                check those projects in some detail before proceeding
                &ndash; click the <a class="btn btn-sm btn-default">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a> button next to a project to adjust the settings.
            </p>
            <p class="lead">
                When you're happy, click the
                "Import projects" button at the bottom of the page to
                import data from IATI to the AIMS. Note that this action
                cannot be undone.
            </p>
            <hr />
        </div>
    </div>
    <style type="text/css">
        .row-even {
            background: #e0e0e0;
        }
        hr {
            margin-top: 0px;
            margin-bottom: 0px;
            border: 0;
            border-top: 1px solid #eee;
        }
    </style>
    <div class="row" ng-repeat="m in models.MatchedProjects">
        <div class="col-md-12" style="padding-bottom: 10px;">
            <h3>
                <span class="label label-danger" ng-show="isDiffGT5(m)"><i class="glyphicon glyphicon-asterisk"></i></span> {{m.iatiActivity.Title}}
                <a class="btn btn-sm btn-default" ng-click="OpenProjectSpecificAdjustment(m)"><i class="glyphicon glyphicon-pencil"></i></a>
                <a class="btn btn-sm btn-default" ng-click="OpenTransactionDetail(m)"><i class="glyphicon glyphicon-usd"></i></a>
                <span ng-show="m.IsManuallyMapped" style="float:right; font-size:small" class="alert-danger">Manually Mapped</span>
            </h3>

            <commitmentvsdisbursmentchart aims-commitment="{{m.aimsProject.TotalCommitmentThisDPOnly}}"
                                          aims-disbursment="{{m.aimsProject.TotalDisbursmentThisDPOnly}}"
                                          iati-commitment="{{m.iatiActivity.TotalCommitmentThisDPOnly}}"
                                          iati-disbursment="{{m.iatiActivity.TotalDisbursmentThisDPOnly}}">

            </commitmentvsdisbursmentchart>
        </div>
        <hr />

    </div>
    <hr />

    <div class="row" ng-repeat="iatiActivity in models.NewProjectsToAddInAims">
        <div class="col-md-12" style="padding-bottom: 10px;">
            <h3>
                <span class="label label-danger"><i class="glyphicon glyphicon-asterisk"></i></span> {{iatiActivity.Title}}

                <a class="btn btn-sm btn-default" ng-click="OpenTransactionDetail({iatiActivity:iatiActivity})"><i class="glyphicon glyphicon-usd"></i></a>
                <span style="float:right; font-size:small" class="alert-danger">New Project</span>
            </h3>

            <commitmentvsdisbursmentchart aims-commitment="{{0}}"
                                          aims-disbursment="{{0}}"
                                          iati-commitment="{{iatiActivity.TotalCommitment}}"
                                          iati-disbursment="{{iatiActivity.TotalDisbursment}}">

            </commitmentvsdisbursmentchart>
        </div>
        <hr />

    </div>
    <hr />
    <a ng-click="ImportProjects()" class="btn btn-success">Import projects &raquo;</a>
                        <a id="btnGoDashboard" hidden ng-href="#/Dashboard"></a>

</div>
