<div role="tabpanel" class="tab-pane active" id="review" ng-controller="7ReviewAdjustmentController">
    <div class="row">
        <div class="col-md-12">
            <h2>
                <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                7. Review and adjust import preferences
            </h2>
            <p class="lead">
                Your projects are listed below. We have
                highlighted those projects where the financial data is
                significantly different (5% or greater). You may wish to
                check those projects in some detail before proceeding
                &ndash; click the <a class="btn btn-sm btn-default">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a> button next to a project to adjust the settings.
            </p>
            <p class="lead">
                When you're happy, click the
                "Import projects" button at the bottom of the page to
                import data from IATI to the AIMS. Note that this action
                cannot be undone.
            </p>
            <hr />
        </div>
    </div>
    <style type="text/css">
        .row-even {
            background: #e0e0e0;
        }
    </style>
    <hr />
    <div class="row" ng-repeat="m in models.MatchedProjects">
        <div class="col-md-12" ng-class="isDiffGT5(m) ? 'alert-danger' : 'alert-success'" style="padding-bottom: 10px;">
            <h3>{{m.iatiActivity.Title}} <a class="btn btn-sm btn-default" ng-click="OpenProjectSpecificAdjustment(m)"><i class="glyphicon glyphicon-pencil"></i></a><span ng-show="m.IsManuallyMapped" style="float:right; font-size:small" class="alert-danger">Manually Mapped</span></h3>

                <commitmentvsdisbursmentchart aims-Commitment="{{m.aimsProject.TotalCommitment}}" 
                                              aims-Disbursment="{{m.aimsProject.TotalDisbursment}}" 
                                              iati-Commitment="{{m.iatiActivity.TotalCommitment}}" 
                                              iati-Disbursment ="{{m.iatiActivity.TotalDisbursment}}">

                </commitmentvsdisbursmentchart>
        </div>
    </div>

    <hr />
    <a ng-click="ImportProjects()" class="btn btn-success">Import projects &raquo;</a>

</div>
