<div role="tabpanel" class="tab-pane active" id="review">
    <div class="row">
        <div class="col-md-12">
            <h2>
                <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                7. Review and adjust import preferences
            </h2>
            <p class="lead">
                Your projects are listed below. We have
                highlighted those projects where the financial data is
                significantly different (5% or greater). You may wish to
                check those projects in some detail before proceeding
                &ndash; click the <a class="btn btn-sm btn-default">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a> button next to a project to adjust the settings.
            </p>
            <p class="lead">
                When you're happy, click the
                "Import projects" button at the bottom of the page to
                import data from IATI to the AIMS. Note that this action
                cannot be undone.
            </p>
            <hr />
        </div>
    </div>
    <div class="row" ng-repeat="m in models.MatchedProjects">
        <div class="col-md-12">
            <h3>{{m.iatiActivity.Title}} <a class="btn btn-sm btn-default" ng-click="OpenProjectSpecificAdjustment(m)"><i class="glyphicon glyphicon-pencil"></i></a></h3>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{((m.iatiActivity.TotalDisbursment + 1) / (m.iatiActivity.TotalCommitment + 1)) * 100}}" aria-valuemin="0" aria-valuemax="100" style="width:{{((m.iatiActivity.TotalDisbursment+1) / (m.iatiActivity.TotalCommitment+1)) * 100; }}%;">
                    <strong>IATI</strong>: {{m.iatiActivity.defaultcurrency}}  {{m.iatiActivity.TotalDisbursment}} out of {{m.iatiActivity.TotalCommitment}}
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar" ng-class="isDiffGT5(m) ? 'progress-bar-danger' : ''" role="progressbar" aria-valuenow="{{((m.aimsProject.TotalDisbursment+1) / (m.aimsProject.TotalCommitment+1)) * 100}}" aria-valuemin="0" aria-valuemax="100" style="width:{{((m.aimsProject.TotalDisbursment+1) / (m.aimsProject.TotalCommitment+1)) * 100; }}%;">
                    <strong>AIMS</strong>: USD {{m.aimsProject.TotalDisbursment}} out of {{m.aimsProject.TotalCommitment}}
                </div>
            </div>
        </div>
    </div>

    <hr />
    <a ng-click="ImportProjects()" class="btn btn-success">Import projects &raquo;</a>

</div>
