<style>
    .field-selector .field {
        padding: 10px;
    }

    .field-selector .field-value {
        font-size: 18px;
    }

    .field-selector {
        text-align: center;
    }
</style>
<div class="row field-selector">
    <div class="col-md-6">
        <h3>IATI</h3>
    </div>
    <div class="col-md-6">
        <h3>AIMS</h3>
    </div>
</div>
<div class="row field-selector" ng-repeat="m in model.Fields">
    <div class="col-md-6">
        <div class="field alert " ng-class="{'alert-success' : m.IsSourceIATI, 'alert-danger' : !m.IsSourceIATI}" ng-click="m.IsSourceIATI = !m.IsSourceIATI;">
            <p>
                <span class="label label-default">{{m.Field}}</span>
            </p>
            <p ng-attr-id="iati-{{m.Field}}" class="lead field-value">
                {{m.IATIValue}}
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="field alert" ng-class="{'alert-success' : !m.IsSourceIATI, 'alert-danger' : m.IsSourceIATI}" ng-click="m.IsSourceIATI = !m.IsSourceIATI;">
            <p>
                <span class="label label-default">{{m.Field}}</span>
            </p>
            <p ng-attr-id="aims-{{m.Field}}" class="lead field-value">
                {{m.AIMSValue}}
            </p>
        </div>
    </div>
</div>

<div class="row field-selector" ng-repeat="m in (model.TransactionFields)">
    <div class="col-md-6">
        <div class="field alert " ng-class="{'alert-success' : m.IsSourceIATI, 'alert-danger' : !m.IsSourceIATI}" ng-click="m.IsSourceIATI = !m.IsSourceIATI;">
            <p>
                <span class="label label-default">{{m.Field}}</span>
            </p>
            <p ng-attr-id="iati-{{m.Field}}" class="lead field-value">
                {{m.IATIValue | currency : $ : 2}}
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="field alert" ng-class="{'alert-success' : !m.IsSourceIATI, 'alert-danger' : m.IsSourceIATI}" ng-click="m.IsSourceIATI = !m.IsSourceIATI;">
            <p>
                <span class="label label-default">{{m.Field}}</span>
            </p>
            <p ng-attr-id="aims-{{m.Field}}" class="lead field-value">
                {{m.AIMSValue | currency : $ : 2}}
            </p>
        </div>
    </div>
</div>

