<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AIMS_DBEntities" connectionString="metadata=res://*/AIMS_DB.csdl|res://*/AIMS_DB.ssdl|res://*/AIMS_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC88\SQL2012;initial catalog=AIMS_DB_Demo;persist security info=True;user id=sa;password=sa1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AIMS_DB_IATIEntities" connectionString="metadata=res://*/AIMS_DB_IATI.csdl|res://*/AIMS_DB_IATI.ssdl|res://*/AIMS_DB_IATI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC88\SQL2012;initial catalog=AIMS_DB_IATI;user id=sa;password=sa1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--http://datastore.iatistandard.org/api/1/access/activity.xml?recipient-country=BD&reporting-org=CA-3&stream=True"-->
    <add key="iati_url" value="http://datastore.iatistandard.org/api/1/access/activity.xml?" />
    <add key="iati_recipient-country" value="BD" />
    <add key="iati_reporting-org" value="*" />
    <add key="iati_stream" value="True" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>