<div role="tabpanel" class="tab-pane active" id="match2">
    <div class="row">
        <div class="col-md-12">
            <h2><span class="glyphicon glyphicon-resize-small" aria-hidden="true"></span> 5. Match unmatched projects</h2>
            <p class="lead">
                Some projects were not matched to counterparts
                in IATI or the AIMS. Please match the remainder of these projects.
            </p>
            <hr>
        </div>
    </div>


    <style>
        .divDragDrop {
            margin: 10px;
        }
            /**
                        * For the correct positioning of the placeholder element, the dnd-list and
                        * it's children must have position: relative
                        */
            .divDragDrop ul[dnd-list],
            .divDragDrop ul[dnd-list] > li {
                position: relative;
            }

            /**
                        * The dnd-list should always have a min-height,
                        * otherwise you can't drop to it once it's empty
                        */
            .divDragDrop ul[dnd-list] {
                min-height: 50px;
                padding-left: 0px;
            }

                /**
                        * The dndDraggingSource class will be applied to
                        * the source element of a drag operation. It makes
                        * sense to hide it to give the user the feeling
                        * that he's actually moving it.
                        */
                .divDragDrop ul[dnd-list] .dndDraggingSource {
                    display: none;
                }

                /**
                        * An element with .dndPlaceholder class will be
                        * added to the dnd-list while the user is dragging
                        * over it.
                        */
                .divDragDrop ul[dnd-list] .dndPlaceholder {
                    display: block;
                    background-color: #ddd;
                    min-height: 50px;
                }

                /**
                        * The dnd-lists's child elements currently MUST have
                        * position: relative. Otherwise we can not determine
                        * whether the mouse pointer is in the upper or lower
                        * half of the element we are dragging over. In other
                        * browsers we can use event.offsetY for this.
                        */
                .divDragDrop ul[dnd-list] li {
                    background-color: #fff;
                    border: 1px solid #ddd;
                    border-top-right-radius: 4px;
                    border-top-left-radius: 4px;
                    display: block;
                    padding: 10px 15px;
                    margin-bottom: -1px;
                }

                    /**
                        * Show selected elements in green
                        */
                    .divDragDrop ul[dnd-list] li.selected {
                        background-color: #dff0d8;
                        color: #3c763d;
                    }
    </style>

    <div class="divDragDrop">

        <table width="100%" style="vertical-align:top">
            <thead>
                <tr style="font-size:18px; font-weight:bold">
                    <td>
                        IATI Projects
                    </td>
                    <td>
                        AIMS Projects
                    </td>
                </tr>
            </thead>
            <tr>
                <td width="50%" style="vertical-align: top; padding:10px">
                    <div>
                        <div class="panel panel-info">
                            <!--<div class="panel-heading">
                                <h3 class="panel-title">IATI Projects</h3>
                            </div>-->

                            <div>
                                <!--ng-include="'simple/simple.html'"-->
                                <!-- The dnd-list directive allows to drop elements into it.
                                The dropped data will be added to the referenced list -->
                                <ul dnd-list="models.IatiActivitiesNotInAims">
                                    <!-- The dnd-draggable directive makes an element draggable and will
                                    transfer the object that was assigned to it. If an element was
                                    dragged away, you have to remove it from the original list
                                    yourself using the dnd-moved attribute -->
                                    <li ng-repeat="item in models.IatiActivitiesNotInAims"
                                        dnd-draggable="item"
                                        dnd-moved="models.IatiActivitiesNotInAims.splice($index, 1)"
                                        dnd-effect-allowed="move"
                                        dnd-selected="models.selected = item"
                                        ng-class="{'selected': models.selected === item}">

                                        <h3 class="project-title">{{item.Title}}</h3>
                                        <p><code>{{item.IatiIdentifier}}</code></p>
                                        <p><span class="label label-primary">Reported by: {{item.ReportingOrg}}</span></p>
                                        <p title="{{item.Description}}">
                                            {{item.Description | limitTo:200}} <span ng-show="item.Description.length > 0" ng-hide="item.Description.length == 0">...</span>
                                        </p>

                                        <dl class="dl-horizontal">
                                            <dt>Start date</dt>
                                            <dd>{{item.ActualStartDate | date:"dd MMMM yyyy"}}</dd>
                                            <dt>Planned End date</dt>
                                            <dd>{{item.PlannedEndDate | date:"dd MMMM yyyy"}}</dd>
                                        </dl>

                                    </li>
                                </ul>

                            </div>

                        </div>
                    </div>

                </td>

                <td width="50%" style="vertical-align: top; padding:10px">
                    <div ng-repeat="m in models.AimsProjectsNotInIati">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="project-title">{{m.Title}}</h3>
                                <p><code>{{m.IatiIdentifier}}</code></p>
                                <p><span class="label label-primary">Reported by: {{m.ReportingOrg}}</span></p>

                                <dl class="dl-horizontal">
                                    <dt>Start date</dt>
                                    <dd>{{m.ActualStartDate | date:"dd MMMM yyyy"}}</dd>
                                    <dt>Planned End date</dt>
                                    <dd>{{m.PlannedEndDate | date:"dd MMMM yyyy"}}</dd>
                                </dl>
                            </div>

                            <div class="panel-body">

                                <span ng-hide="m.MatchedProjects.length>0" ng-show="m.MatchedProjects.length==0" style="color:gray"> Drop matched projects here...</span>

                                <!--ng-include="'simple/simple.html'"-->
                                <!-- The dnd-list directive allows to drop elements into it.
                                The dropped data will be added to the referenced list -->
                                <ul dnd-list="m.MatchedProjects">
                                    <!-- The dnd-draggable directive makes an element draggable and will
                                    transfer the object that was assigned to it. If an element was
                                    dragged away, you have to remove it from the original list
                                    yourself using the dnd-moved attribute -->
                                    <li ng-repeat="item in m.MatchedProjects"
                                        dnd-draggable="item"
                                        dnd-moved="m.MatchedProjects.splice($index, 1)"
                                        dnd-effect-allowed="move"
                                        dnd-selected="models.selected = item"
                                        ng-class="{'selected': models.selected === item}"
                                        title="{{item.Description}}">
                                        {{item.Title}}

                                    </li>
                                </ul>

                            </div>

                        </div>
                    </div>
                    <div>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="project-title">New Projects</h3>
                            </div>

                            <div class="panel-body">

                                <span ng-hide="models.NewProjectsToAddInAims.length>0" ng-show="models.NewProjectsToAddInAims.length==0" style="color:gray"> Drop matched projects here...</span>

                                <!--ng-include="'simple/simple.html'"-->
                                <!-- The dnd-list directive allows to drop elements into it.
                                The dropped data will be added to the referenced list -->
                                <ul dnd-list="models.NewProjectsToAddInAims">
                                    <!-- The dnd-draggable directive makes an element draggable and will
                                    transfer the object that was assigned to it. If an element was
                                    dragged away, you have to remove it from the original list
                                    yourself using the dnd-moved attribute -->
                                    <li ng-repeat="item in models.NewProjectsToAddInAims"
                                        dnd-draggable="item"
                                        dnd-moved="models.NewProjectsToAddInAims.splice($index, 1)"
                                        dnd-effect-allowed="move"
                                        dnd-selected="models.selected = item"
                                        ng-class="{'selected': models.selected === item}"
                                        title="{{item.Description}}">
                                        {{item.Title}}

                                    </li>
                                </ul>

                            </div>

                        </div>
                    </div>

                </td>
            </tr>
        </table>
        <hr>

        <div class="form-group">
            <div class="col-md-offset-1 col-md-10 btnFooter">
                <a class="btn btn-default" ng-href="#/4Projects">Back</a>
                <a class="btn btn-default"  ng-click="Commands.saveData()">Next</a>

                <a id="btn6GeneralPreferences" hidden ng-href="#/6GeneralPreferences">Next</a>
            </div>
        </div>
        <!--<div class="btnFooter">
            <button class="btn btn-default" ng-click="Commands.saveData()">Save</button>
        </div>-->

    </div>

</div>
