<div role="tabpanel" class="tab-pane active" id="filterBD" ng-controller="2FilterBDController">
    <div class="row">
        <div class="col-md-12">
            <h2><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> 2. Filter for activities relevant to Bangladesh</h2>
            <p class="lead">
                Some of the activities published at headquarters
                level will not be relevant to Bangladesh. We have filtered out those projects where:
            </p>
            <ul>
                <li>less than 20% is tagged as Bangladesh</li>
                <!--<li>projects where the "Aid Type" is core contributions to multilaterals or NGOs</li>-->
                <li>projects where the Activity Status is "Implementation" only (i.e. not closed projects) </li>
            </ul>
            <hr>
            <form class="form-horizontal">
                <div class="row">
                    <div class="col-md-12">
                        <table st-table="iatiActivities" st-safe-src="model.iatiActivities" class="table table-striped">
                            <thead>
                                <tr>
                                    <th st-sort="IatiIdentifier" style="min-width:120px">
                                        Activity ID
                                    </th>
                                    <th st-sort="Title" style="min-width:200px">
                                        Activity Title
                                    </th>
                                    <th st-sort="PercentToBD" style="min-width:120px">
                                        % to BD
                                    </th>
                                    <th st-sort="AidType" style="min-width:100px">
                                        Aid type
                                    </th>
                                    <th st-sort="ActivityStatus" style="min-width:100px">
                                        Status
                                    </th>
                                    <th st-sort="IsRelevant" style="min-width:110px">
                                        Relevant
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="activity in iatiActivities">
                                    <td><code>{{activity.IatiIdentifier}}</code></td>
                                    <td>{{activity.Title}}</td>
                                    <td>{{activity.PercentToBD}}%</td>
                                    <td>{{activity.AidType}} <code>{{activity.AidTypeCode}}</code></td>
                                    <td>{{activity.ActivityStatus}}</td>
                                    <td><input type="checkbox" ng-model="activity.IsRelevant"></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 btnFooter">
                        <a ng-hide="$root.HasRelatedActivity" class="btn btn-default" ng-href="#/0Begin">  Back  </a>
                        <a ng-show="$root.HasRelatedActivity" class="btn btn-default" ng-href="#/1Hierarchy">  Back  </a>
                        <a class="btn btn-default" ng-href="#/3FilterDP">  Next  </a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
