<div role="tabpanel" class="tab-pane active" id="hierarchy">
    <div class="row">
        <div class="col-md-12">
            <h2><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 1. Select unit of aid</h2>
            <p class="lead">
                It looks like you use multiple levels of
                activities in your data (for example, projects and
                sub-components). We've compared your activities against those
                found in the AIMS, and recommend you proceed with hierarchy 1.
                However, you can adjust below.
            </p>
            <hr>
            <!--<div ng-repeat="activity in iatiActivities">
                <input type="text" ng-model="activity.iatiidentifier.Value" />
                       {{activity.iatiidentifier.Value}} -
                       {{activity.title.narrative[0].Value}}>
            </div>-->
            <form class="form-horizontal">
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Hierarchy</th>
                                    <th>Sample data</th>
                                    <th>% matched</th>
                                    <th>Select</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="success" ng-repeat-start="activity in iatiActivities">
                                    <td>1</td>
                                    <td>
                                        <code>{{activity.iatiidentifier.Value}}</code> {{activity.title.narrative[0].Value}}
                                    </td>

                                    <td>70%</td>
                                    <td>
                                        <div class="radio">
                                            <input type="radio" name="{{activity.iatiidentifier.Value}}" value="Hierarchy1" ng-model="activity.SelectedHierarchy">
                                        </div>
                                    </td>
                                </tr>

                                <tr ng-repeat-end>
                                    <td>2</td>
                                    <td>
                                        <p ng-repeat="ra in activity.relatedIatiActivities track by $index">
                                            <code>{{ra.iatiidentifier.Value}}</code> {{ra.title.narrative[0].Value}}
                                        </p>
                                    </td>
                                    <td>0%</td>
                                    <td>
                                        <div class="radio">
                                            <input type="radio" name="{{activity.iatiidentifier.Value}}" value="Hierarchy2" ng-model="activity.SelectedHierarchy">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-1 col-md-10 btnFooter">
                        <a class="btn btn-default" ng-href="#/0Begin">Back</a>
                        <a class="btn btn-default" ng-href="#/2FilterBD">Next</a>
                        <a id="btn2FilterBD" hidden ng-href="#/2FilterBD">Next</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
