<div role="tabpanel" class="tab-pane active" id="filterBD">
    <div class="row">
        <div class="col-md-12">
            <h2><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> 2. Filter for activities relevant to Bangladesh</h2>
            <p class="lead">
                Some of the activities published at headquarters
                level will not be relevant to Bangladesh. We have filtered out those projects where:
            </p>
            <ul>
                <li>less than 20% is tagged as Bangladesh</li>
                <li>projects where the "Aid Type" is core contributions to multilaterals or NGOs</li>
            </ul>
            <hr>
            <form class="form-horizontal">
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Activity ID</th>
                                    <th>Activity Title</th>
                                    <th>% to Bangladesh</th>
                                    <th>Aid type</th>
                                    <th>Status</th>
                                    <th>Relevant</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="activity in iatiActivities">
                                    <td><code>{{activity.iatiidentifier.Value}}</code></td>
                                    <td>{{activity.title.narrative[0].Value}}</td>
                                    <td>{{activity.PercentToBD}}%</td>
                                    <td>{{activity.defaultaidtype.name}}(<code>{{activity.defaultaidtype.code}}</code>)</td>
                                    <td>{{activity.activitystatus.name}}</td>
                                    <td><input type="checkbox" ng-model="activity.IsRelevant"></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-10 btnFooter">
                        <a ng-hide="$root.HasRelatedActivity" class="btn btn-default" ng-href="#/0Begin">  Back  </a>
                        <a ng-show="$root.HasRelatedActivity" class="btn btn-default" ng-href="#/1Hierarchy">  Back  </a>
                        <a class="btn btn-default" ng-href="#/3FilterDP">  Next  </a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
