<div role="tabpanel" class="tab-pane active" id="projects">
    <div class="row">
        <div class="col-md-12">
            <h2><span class="glyphicon glyphicon-link" aria-hidden="true"></span> 4. Match IATI projects to AIMS</h2>
            <p class="lead">
                Based on your answers to the preceding questions,
                we have mapped your IATI activities against the AIMS in
                the following way.
            </p>
            <hr>
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <h3>IATI activities matched to the AIMS</h3>
                    <table st-table="models.MatchedProjects" class="table table-striped">
                        <thead>
                            <tr>
                                <th st-sort="iatiActivity.IatiIdentifier">IATI Project ID</th>
                                <th st-sort="iatiActivity.Title">IATI Project Title</th>
                                <th st-sort="aimsProjects.IatiIdentifier">AIMS Project ID</th>
                                <th st-sort="aimsprojects.title">AIMS Project Title</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="m in models.MatchedProjects" class="table-striped">
                                <td><code>{{m.iatiActivity.IatiIdentifier}}</code></td>
                                <td>{{m.iatiActivity.Title}}</td>
                                <td><code>{{m.aimsProjects.IatiIdentifier}}</code></td>
                                <td>{{m.aimsProjects.Title}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <h3>IATI activities not found in the AIMS</h3>
                    <table st-table="models.IatiActivitiesNotInAims" class="table" ng-show="models.IatiActivitiesNotInAims.length > 0">
                        <thead>
                            <tr>
                                <th st-sort="IatiIdentifier">IATI Project ID</th>
                                <th st-sort="Title">IATI Project Title</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="active"></tr>
                            <tr ng-repeat="activity in models.IatiActivitiesNotInAims" class="table-striped">
                                <td><code>{{activity.IatiIdentifier}}</code></td>
                                <td>{{activity.Title}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="alert alert-success" ng-hide="models.IatiActivitiesNotInAims.length > 0">
                        Great news! All IATI activities
                        were found in this DP's AIMS data.
                    </div>

                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <h3>AIMS projects not found in IATI</h3>
                    <table st-table="models.AimsProjectsNotInIati" class="table" ng-show="models.AimsProjectsNotInIati.length > 0">
                        <thead>
                            <tr>
                                <th st-sort="IatiIdentifier">IATI Project ID</th>
                                <th st-sort="Title">IATI Project Title</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="active"></tr>
                            <tr ng-repeat="activity in models.AimsProjectsNotInIati" class="table-striped">
                                <td><code>{{activity.IatiIdentifier}}</code></td>
                                <td>{{activity.Title}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="alert alert-success" ng-hide="AimsProjectNotInIati.length > 0">
                        Great news! All AIMS
                        projects were found in this DP's IATI data.
                    </div>

                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <h3>Projects owned by other DPs</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>IATI Project ID</th>
                                <th>IATI Project Title</th>
                                <th>Owned by</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr></tr>
                            <tr>
                                <td><code>GB-1-107368</code></td>
                                <td>Rural Electrification Development Project</td>
                                <td>World Bank</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-1 col-md-10 btnFooter">
                    <a class="btn btn-default" ng-href="#/3FilterDP">Back</a>
                    <a class="btn btn-default" ng-href="#/5Match">Next</a>
                </div>
            </div>

        </div>
    </div>
</div>
