<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="AIMS_DBEntities" connectionString="metadata=res://*/AIMS_DB.csdl|res://*/AIMS_DB.ssdl|res://*/AIMS_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC88\SQL2012;initial catalog=AIMS_DB;persist security info=True;user id=sa;password=sa1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AIMS_DB_IATIEntities" connectionString="metadata=res://*/AIMS_DB_IATI.csdl|res://*/AIMS_DB_IATI.ssdl|res://*/AIMS_DB_IATI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC88\SQL2012;initial catalog=AIMS_DB_IATI;user id=sa;password=sa1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SessionEDB" connectionString="DataDir = ~\App_Data\SessionDB" />
    <add name="SessionDB" connectionString="Url = http://pc88:8080/" />
  </connectionStrings>
  <appSettings>
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />

    <!--http://datastore.iatistandard.org/api/1/access/activity.xml?recipient-country=BD&reporting-org=CA-3&stream=True"-->
    <add key="iati_url" value="http://datastore.iatistandard.org/api/1/access/activity.xml?" />
    <add key="iati_recipient-country" value="BD" />
    <add key="iati_reporting-org" value="*" />
    <add key="iati_stream" value="True" />
    <add key="exchangeRate_url" value="https://raw.githubusercontent.com/bd-iati/exchange-rates-usd/master/data/consolidated.csv" />

  </appSettings>
  <elmah>
    <security allowRemoteAccess="true" />
  </elmah>
  <system.web>
    <!--<sessionState mode="SQLServer" cookieless="false" timeout="2000"
          sqlConnectionString="data source=PC88;user id=sa;password=sa1234"/>-->
    <!--also increased the "Idle Time-Out in IIS->Application Pool"-->
    <sessionState mode="InProc" timeout="500"></sessionState>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime maxRequestLength="1048576" targetFramework="4.5" />
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <add name="BasicAuthHttpModule" type="AIMS_BD_IATI.WebAPI.Modules.BasicAuthHttpModule" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAIMSUserManagementService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://pc88:1000/AIMSUserService/AIMSUserManagementService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAIMSUserManagementService" contract="AIMSSecurityService.IAIMSUserManagementService" name="BasicHttpBinding_IAIMSUserManagementService" />
    </client>
  </system.serviceModel>

</configuration>