<div class="row field-selector">
    <div class="col-md-4 col-md-offset-1">
        <h3>IATI</h3>
    </div>
    <div class="col-md-4 col-md-offset-1">
        <h3>AIMS</h3>
    </div>
</div>

<div class="row" ng-repeat="m in model.Fields | filter : {Field : '!transaction'}">
    <div class="col-md-12">
        <div class="row field-selector">
            <div class="col-md-4 col-md-offset-1 field alert " ng-class="{'alert-success' : m.IsSourceIATI, 'alert-danger' : !m.IsSourceIATI}" ng-click="m.IsSourceIATI = !m.IsSourceIATI">
                <p>
                    <span class="label label-default">{{m.Field}}</span>
                </p>
                <p class="lead">
                    {{m.IATIValue}}
                </p>
            </div>
            <div class="col-md-4 col-md-offset-1 field alert" ng-class="{'alert-success' : !m.IsSourceIATI, 'alert-danger' : m.IsSourceIATI}" ng-click="m.IsSourceIATI = !m.IsSourceIATI">
                <p>
                    <span class="label label-default">{{m.Field}}</span>
                </p>
                <p class="lead">
                    {{m.AIMSValue}}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-repeat="m in (model.Fields | filter : {Field : 'transaction'})">
    <div class="col-md-12">
        <div class="row field-selector">
            <div class="col-md-4 col-md-offset-1 field alert" ng-class="{'alert-success' : m.IsSourceIATI, 'alert-danger' : !m.IsSourceIATI}" ng-click="m.IsSourceIATI = !m.IsSourceIATI">
                <p>
                    <span class="label label-default">Financial data</span>
                </p>
                <p>
                    <br />
                    <dl class="dl-horizontal">
                        <dt>Commitments</dt>
                        <dd>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                     aria-valuenow="100" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 100%;">
                                    USD {{m.IATIValue.TotalCommitment}}
                                </div>
                            </div>
                        </dd>
                        <dt>Disbursements</dt>
                        <dd>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                     aria-valuemin="0" aria-valuemax="100"
                                     aria-valuenow="{{(m.IATIValue.TotalDisbursment / m.IATIValue.TotalCommitment) * 100}}"
                                     style="width:{{(m.IATIValue.TotalDisbursment / m.IATIValue.TotalCommitment) * 100; }}%;">
                                    USD {{m.IATIValue.TotalDisbursment}}
                                </div>
                            </div>
                        </dd>
                    </dl>
                </p>
            </div>
            <div class="col-md-4 col-md-offset-1 field alert"  ng-class="{'alert-success' : !m.IsSourceIATI, 'alert-danger' : m.IsSourceIATI}" ng-click="m.IsSourceIATI = !m.IsSourceIATI">
                <p>
                    <span class="label label-default">Financial data</span>
                </p>
                <p>
                    <br />
                    <dl class="dl-horizontal">
                        <dt>Commitments</dt>
                        <dd>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                     aria-valuenow="100" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 100%;">
                                    USD {{m.AIMSValue.TotalCommitment}}
                                </div>
                            </div>
                        </dd>
                        <dt>Disbursements</dt>
                        <dd>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                     aria-valuemin="0" aria-valuemax="100"
                                     aria-valuenow="{{(m.AIMSValue.TotalDisbursment / m.AIMSValue.TotalCommitment) * 100}}"
                                     style="width:{{(m.AIMSValue.TotalDisbursment / m.AIMSValue.TotalCommitment) * 100; }}%;">
                                    USD {{m.AIMSValue.TotalDisbursment}}
                                </div>
                            </div>
                        </dd>
                    </dl>

                </p>
            </div>
        </div>
    </div>
</div>
