@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

Project documentation are provied in following links:
<p>
    <a href="http://bd-iati.github.io/">bangladesh iati – aims import</a>
    <br/>Source code are available at GitHub under GNU AGPL Licence
    <a href="https://github.com/BD-IATI/edi">GitHub</a>
</p>
<p>
    <a href="http://bd-iati.github.io/development/sprint-1/">sprint-1</a>
    <a href="http://test.brough.io/bd/">initial mockups</a>
</p>
<p>
    <a href="http://bd-iati.github.io/development/sprint-2/">sprint-2</a>
    <a href="http://test.brough.io/bd/sprint2.htm">sprint2 mockups</a>
</p>
<p>
    References:
    <br/><a href="http://aims.erd.gov.bd">Bangladesh AIMS</a>
    <br /><a href="http://iatistandard.org">IATI Standard</a>
    <br /><a href="http://iatistandard.org/202/schema/">IATI Schema v2.02</a>
    <br /><a href="http://iatistandard.org/201/schema/">IATI Schema v2.01</a>
    <br /><a href="http://iatistandard.org/105/schema/">IATI Schema v1.05</a>
</p>
