@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>AIMS IATI Data Import</h1>
    <p class="lead">
        Using this tool Activities in IATI data store can be mapped with Projects in AIMS
    </p>
    <p><a href="/app/home.html" class="btn btn-primary btn-large">Map Project</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Start mapping project
        </p>
        <p><a class="btn btn-default" href="/app/home.html">Map Project &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Convertion Tool</h2>
        <p>
            This API can be used to convert data from IATI v1.x to v2.x.<br />
            <b>API URL:</b>"/api/ApiIatiConverter/ConvertIATI?org=[orgidentifier]&country=[countryprefix]"
        </p>
        <p>
            <a class="btn btn-default" href="/api/ApiIatiConverter/ConvertIATI?org=CA-3&country=BD">Convert IATI v1.05 &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Convert AIMS to IATI format</h2>
        <p>
            Projects from AIMS can also be converted into IATI format using following API.<br />
            <b>API URL:</b>"/api/ApiIatiConverter/ConvertAIMStoIATI?org=[orgidentifier]"
        </p>
        <p><a class="btn btn-default" href="/api/ApiIatiConverter/ConvertAIMStoIATI?org=CA-3|XM-DAC-301-3">Convert AIMS &raquo;</a></p>
    </div>
</div>