<div role="tabpanel" class="tab-pane active" id="filterDP" ng-controller="3FilterDPController">
    <div class="row">
        <div class="col-md-12">
            <h2><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> 3. Filter for DP's own projects </h2>
            <p class="lead">
                In order to avoid double-counting, we need to establish 
                which of your activities are managed by other DPs.
            </p>
            <p class="lead">
                Please determine which of the following organisations are
                Managing DPs in the AIMS. Where possible, we have tried to
                automatically select them for you to review.
            </p>
            <hr>
            <form class="form-horizontal">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Select Managing DP</h3>
                        <table st-table="iOrgs" st-safe-src="ImplementingOrgs" class=" table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th st-sort="ref">Org ID</th>
                                    <th st-sort="narrative[0].Value">Org name</th>
                                    <th>Managing DP</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="org in iOrgs">
                                    <td><span ng-show="org.ref == '11000'" ng-hide="org.ref != '11000'" class="label label-danger"><i class="glyphicon glyphicon-exclamation-sign"></i></span></td>
                                    <td><code>{{org.ref}}</code></td>
                                    <td>{{org.narrative[0].Value}}</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <select class="form-control"
                                                        ng-model="org.FundSourceIDnIATICode"
                                                        ng-options="item.IDnIATICode as item.Name for item in FundSources">
                                                    <option value="">Select one...</option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <button ng-click="FilterDP()" class="btn btn-default">Filter DP's projects</button>
                    </div>
                </div>
            </form>
            <hr>

            <form class="form-horizontal">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Managing DP by project</h3>

                        <table st-table="rActivities" st-safe-src="RelevantActivities" class="table table-striped">
                            <thead>
                                <tr>
                                    <th st-sort="IatiIdentifier" style="min-width:120px">
                                        Activity ID
                                    </th>
                                    <th st-sort="Title" style="min-width:200px">
                                        Activity Title
                                    </th>
                                    <th>Managing DP</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="activity in rActivities">

                                    <td><code>{{activity.IatiIdentifier}}</code></td>
                                    <td>{{activity.Title}}</td>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <select class="form-control"
                                                        ng-model="activity.FundSourceIDnIATICode"
                                                        ng-options="item.IDnIATICode as item.Name for item in FundSources">
                                                    <option value="">Select one...</option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 btnFooter">
                        <a class="btn btn-default" ng-href="#/2FilterBD">Back</a>

                        <button ng-hide="RelevantActivities.length == 0"
                                type="button"
                                class="btn btn-default"
                                popover-title="Delegate projects to other DPs?"
                                uib-popover-template="'myPopoverTemplate.html'"
                                popover-append-to-body="true"
                                popover-placement="auto">
                            Next...
                        </button>
                        <a id="btn4Projects" hidden ng-href="#/4Projects">Next</a>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>


<script type="text/ng-template" id="myPopoverTemplate.html">
    <div>
        <div>Some of your projects are managed by other DPs. Would you like to delegate those projects now?</div>
        <br />

        <button type="button" ng-click="SaveAndNext()" class="btn btn-primary">Yes, please delegate them</button>
        <button type="button" ng-click="NextWithoutSaving()" class="btn btn-default">No, not right now</button>
    </div>
</script>
