<div role="tabpanel" class="tab-pane active" id="co-financing" ng-controller="9CofinancingController">

    <div class="row">
        <div class="col-md-12">
            <h2>
                <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                Co-financing
            </h2>
            <p class="lead">
                For co-financed projects, we need to
                establish which data should be retained - commitments and
                disbursements from all reporting organisations or only
                from one.
            </p>
            <hr />
        </div>
    </div>
    <div class="row" ng-repeat="project in model.AimsProjects">
        <div class="col-md-12">
            <h3 ng-bind="project.Title"></h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Reporting Org</th>
                        <th>Source</th>
                        <th>Commitments</th>
                        <th>Include C?</th>
                        <th>Disbursments</th>
                        <th>Include D?</th>
                        <th>Planned Disbursments</th>
                        <th>Include PD?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td ng-bind="project.ReportingOrg"></td>
                        <td>AIMS</td>
                        <td ng-bind="project.TotalCommitment | currency"></td>
                        <td></td>
                        <td ng-bind="project.TotalDisbursment | currency"></td>
                        <td></td>
                        <td ng-bind="project.TotalPlannedDisbursment | currency"></td>
                        <td></td>
                    </tr>
                    <tr ng-repeat="(org,prjs) in project.MatchedProjects | groupBy: 'ReportingOrg'">
                        <td ng-bind="org"></td>
                        <td>IATI</td>
                        <td ng-bind="GetSumOfCommitments(prjs) | currency"></td>
                        <td><input type="checkbox" ng-model="prjs[0].IsCommitmentIncluded" ng-change="ChangeIsCommitmentIncluded(prjs)"/></td>
                        <td ng-bind="GetSumOfDisbursments(prjs)  | currency"></td>
                        <td><input type="checkbox" ng-model="prjs[0].IsDisbursmentIncluded" ng-change="ChangeIsDisbursmentIncluded(prjs)"/></td>
                        <td ng-bind="GetSumOfPlannedDisbursments(prjs)  | currency"></td>
                        <td><input type="checkbox" ng-model="prjs[0].IsPlannedDisbursmentIncluded"  ng-change="ChangePlannedDisbursmentIncluded(prjs)"/></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-12">
            <h2>
                <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                Trust Funds
            </h2>
            <p class="lead">
                For Trust Funds, we just need to establish
                the commitments from each DP. You can remove any
                incorrect commitments reported by other IATI DPs below.
                New commitments are marked
                <span class="label label-warning">yellow</span>.
            </p>
            <hr />
        </div>
    </div>


    <div class="row" ng-repeat="trustFund in model.TrustFunds">
        <div class="col-md-12">
            <h3 ng-bind="trustFund.TFIdentifier"></h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Funding Org</th>
                        <th>Source</th>
                        <th>Commitments (in USD)</th>
                        <!--<th>Disbursments (in USD)</th>-->
                        <th>Include?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="trorg in trustFund.transactionsInAims">
                        <td ng-bind="trorg.providerorg.narrative[0].Value"></td>
                        <td>AIMS</td>
                        <td ng-bind="trorg.value.Value | currency"></td>
                        <!--<td ng-bind="trustFund.TotalDisbursment  | currency"></td>-->
                        <td></td>
                    </tr>
                    <tr ng-repeat="(org,prjs) in trustFund.iatiactivities | groupBy: 'ReportingOrg'">
                        <td ng-bind="org"></td>
                        <td>IATI</td>
                        <td ng-bind="GetSumOfCommitments(prjs) | currency"></td>
                        <!--<td ng-bind="GetSumOfDisbursments(prjs)  | currency"></td>-->
                        <td><input type="checkbox" ng-model="prjs[0].IsCommitmentIncluded" ng-change="ChangeIsCommitmentIncluded(prjs)"/></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr />

        <a ng-click="SavePreferences()" class="btn btn-success">Save Preferences &raquo;</a>


</div>

