<div role="tabpanel" class="tab-pane active" id="projects" ng-controller="4ProjectsController">
    <div class="row">
        <div class="col-md-12">
            <h2><span class="glyphicon glyphicon-link" aria-hidden="true"></span> 4. Review matched projects</h2>
            <p class="lead">
                Based on your answers to the preceding questions,
                we have mapped your IATI activities against the AIMS in
                the following way.
            </p>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h3>IATI activities matched to the AIMS</h3>
                    <table st-table="MatchedProjects" st-safe-src="models.MatchedProjects" class="table table-striped">
                        <thead>
                            <tr>
                                <th st-sort="iatiActivity.IatiIdentifier" style="min-width:140px">IATI Project ID</th>
                                <th st-sort="iatiActivity.Title">IATI Project Title</th>
                                <th st-sort="aimsProject.IatiIdentifier" style="min-width:140px">AIMS Project ID</th>
                                <th st-sort="aimsproject.title">AIMS Project Title</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="m in MatchedProjects" class="table-striped">
                                <td><code>{{m.iatiActivity.IatiIdentifier}}</code></td>
                                <td>{{m.iatiActivity.Title}}</td>
                                <td><code>{{m.aimsProject.IatiIdentifier}}</code></td>
                                <td>{{m.aimsProject.Title}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h3>IATI activities not found in the AIMS</h3>
                    <p class="lead">
                        The following activities were found in
                        IATI but not in the AIMS. You can manually map them to
                        existing activities in the AIMS, or choose to create
                        new activities in the AIMS.
                    </p>
                    <table st-table="IatiActivitiesNotInAims" st-safe-src="models.IatiActivitiesNotInAims" class="table" ng-show="models.IatiActivitiesNotInAims.length > 0">
                        <thead>
                            <tr>
                                <th></th>
                                <th st-sort="IatiIdentifier" style="min-width:140px">IATI Project ID</th>
                                <th st-sort="Title">IATI Project Title</th>
                                <th>AIMS Project</th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <th></th>
                                <th><input class="form-control" type="text" placeholder="Project ID" ng-model="search.IatiIdentifier"></th>
                                <th><input class="form-control" type="text" placeholder="Project title" ng-model="search.Title"></th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr class="active"></tr>
                            <tr ng-repeat="activity in IatiActivitiesNotInAims | filter:{IatiIdentifier: search.IatiIdentifier, Title: search.Title}" class="table-striped">
                                <td><a href="http://www.d-portal.org/ctrack.html?country=BD#view=act&aid={{activity.IatiIdentifier}}" target="_blank" class="glyphicon glyphicon-search"></a></td>
                                <td><code>{{activity.IatiIdentifier}}</code></td>
                                <td>{{activity.Title}}</td>

                                <td>

                                    <select class="form-control"
                                            ng-model="activity.ProjectId"
                                            ng-options="item.ProjectId as item.Title for item in AimsProjectsDrpSrc">
                                        <option value="">Don't Import</option>
                                    </select>
                                </td>

                            </tr>
                        </tbody>
                    </table>

                    <div class="alert alert-success" ng-hide="models.IatiActivitiesNotInAims.length > 0">
                        Great news! All IATI activities
                        were found in this DP's AIMS data.
                    </div>

                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h3>AIMS projects not found in IATI</h3>
                    <div class="alert alert-danger" ng-show="models.AimsProjectsNotInIati.length > 0">
                        <p>
                            Some projects were found in the AIMS, but not in
                            IATI. We recommend you check the following:
                        </p>
                        <ul>
                            <li>
                                ensure you have not delegated projects to
                                other DPs that you have already entered into
                                the AIMS
                            </li>
                            <li>
                                ensure that your project IDs used in the AIMS
                                are correct and similarly formatted to those
                                used in your IATI data
                            </li>
                            <li>
                                if projects still appear to be missing from
                                your IATI data, please raise this issue with
                                your colleagues at headquarters level.
                            </li>
                        </ul>
                    </div>
                    <table st-table="AimsProjectsNotInIati" st-safe-src="models.AimsProjectsNotInIati" class="table" ng-show="models.AimsProjectsNotInIati.length > 0">
                        <thead>
                            <tr>
                                <th st-sort="IatiIdentifier" style="min-width:140px">IATI Project ID</th>
                                <th st-sort="Title">IATI Project Title</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="active"></tr>
                            <tr ng-repeat="activity in AimsProjectsNotInIati" class="table-striped">
                                <td><code>{{activity.IatiIdentifier}}</code></td>
                                <td>{{activity.Title}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="alert alert-success" ng-hide="models.AimsProjectsNotInIati.length > 0">
                        Great news! All AIMS
                        projects were found in this DP's IATI data.
                    </div>

                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h3>Projects managed by other DPs</h3>
                    <table st-table="ProjectsOwnedByOther" st-safe-src="models.ProjectsOwnedByOther" class="table" ng-show="models.ProjectsOwnedByOther.length > 0">
                        <thead>
                            <tr>
                                <th st-sort="IatiIdentifier" style="min-width:140px">IATI Project ID</th>
                                <th st-sort="Title">IATI Project Title</th>
                                <th>Managed by</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="active"></tr>
                            <tr ng-repeat="activity in ProjectsOwnedByOther" class="table-striped">
                                <td><code>{{activity.IatiIdentifier}}</code></td>
                                <td>{{activity.Title}}</td>
                                <td>{{activity.FundSource}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="alert alert-success" ng-hide="models.ProjectsOwnedByOther.length > 0">
                        Great news! There is no other DP's project.
                    </div>

                </div>
            </div>
            <hr>

            <div class="form-group">
                <div class="col-md-12 btnFooter">
                    <a class="btn btn-default" ng-href="#/3FilterDP">Back</a>
                    <!--<a class="btn btn-primary" ng-href="#/5Match">Next</a>-->
                    <a class="btn btn-primary" ng-click="saveData()">Next</a>
                    <a id="btn6GeneralPreferences" hidden ng-href="#/6GeneralPreferences">Next</a>

                </div>
            </div>

        </div>
    </div>
</div>
