<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h2 class="modal-title"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                    Financial transactions</h2>
</div>
<div class="modal-body">
    <div role="tabpanel" class="tab-pane active" id="transactions">
        <div class="row">
            <div class="col-md-12">
                <p class="lead">
                    You can see below a summary of financial
                    data that would be imported to the AIMS for your activities.
                </p>
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2 ng-bind="model.iatiActivity.Title"></h2>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-12">
                <h4>Commitments</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Original currency</th>
                            <th>Original value</th>
                            <th>Transaction date</th>
                            <th>Value date</th>
                            <th>BB USD exchange rate</th>
                            <th>BB exchange rate date</th>
                            <th>USD value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="tr in model.iatiActivity.Commitments">
                            <td ng-bind="tr.value.currency"></td>
                            <td ng-bind="tr.value.Value"></td>
                            <td ng-bind="tr.transactiondate.isodate | date:'yyyy-MM-dd'"></td>
                            <td ng-bind="tr.value.valuedate | date:'yyyy-MM-dd'"></td>
                            <td ng-bind="tr.value.BBexchangeRateUSD | number:2"></td>
                            <td ng-bind="tr.value.BBexchangeRateDate | date:'yyyy-MM-dd'"></td>
                            <td ng-bind="tr.value.ValueInUSD | number:2"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Disbursements</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Original currency</th>
                            <th>Original value</th>
                            <th>Transaction date</th>
                            <th>Value date</th>
                            <th>BB USD exchange rate</th>
                            <th>BB exchange rate date</th>
                            <th>USD value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="tr in model.iatiActivity.Disbursments">
                            <td ng-bind="tr.value.currency"></td>
                            <td ng-bind="tr.value.Value"></td>
                            <td ng-bind="tr.transactiondate.isodate | date:'yyyy-MM-dd'"></td>
                            <td ng-bind="tr.value.valuedate | date:'yyyy-MM-dd'"></td>
                            <td ng-bind="tr.value.BBexchangeRateUSD | number:2"></td>
                            <td ng-bind="tr.value.BBexchangeRateDate | date:'yyyy-MM-dd'"></td>
                            <td ng-bind="tr.value.ValueInUSD | number:2"></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Close</button>
    <!--<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>-->
</div>


