
<div role="tabpanel" class="tab-pane active" id="preferences" ng-controller="6GeneralPreferencesController">
    <div class="row">
        <div class="col-md-12">
            <h2>
                <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                6. Set general import preferences
            </h2>
            <p class="lead">
                Please specify whether you would generally
                prefer to take data from IATI or from the AIMS (you will
                only have to do this once for your projects). You can
                see some sample data below to help you decide. Later, you
                will be able to adjust the import settings for individual
                projects.
            </p>
            <p class="lead">
                You can adjust whether data is taken from IATI or from
                the AIMS by clicking on the relevant data source for each
                field. Whichever side is marked as
                <span class="label label-success">green</span> will be
                used as the default preference for your projects.
            </p>
            <hr />

            <div ng-include="'Templates/FieldMappingTemplete.html'"></div>


        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-1 col-md-10 btnFooter">
            <a class="btn btn-default" ng-href="#/5Match">Back</a>
            <button ng-show="IsModelChanged"
                    type="button"
                    class="btn btn-default"
                    popover-title="Save Preferences"
                    uib-popover-template="'myPopoverTemplate.html'"
                    popover-append-to-body="true"
                    popover-placement="auto">
                Next...
            </button>
            <a ng-show="!IsModelChanged" id="btn7ReviewAdjustment" class="btn btn-default" ng-href="#/7ReviewAdjustment">Next</a>
        </div>
    </div>
</div>


<script type="text/ng-template" id="myPopoverTemplate.html">
    <div>
        <div>Would you like to save this preferences for next time?</div>
        <br />

        <button type="button" ng-click="SaveAndNext()" class="btn btn-default">Save and next</button>
        <button type="button" ng-click="NextWithoutSaving()" class="btn btn-default">Next without saving</button>
    </div>
</script>
