<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.UI.Bootstrap" version="1.2.1" targetFramework="net45" />
  <package id="angular-highcharts" version="1.0.2" targetFramework="net45" />
  <package id="angularjs" version="1.5.0" targetFramework="net45" />
  <package id="AngularJS.Core" version="1.3.4" targetFramework="net45" />
  <package id="angularjs.TypeScript.DefinitelyTyped" version="6.1.3" targetFramework="net45" />
  <package id="angular-smart-table" version="2.1.5" targetFramework="net45" />
  <package id="angular-spinner" version="0.8.0" targetFramework="net45" />
  <package id="angular-ui-select" version="0.16.0" targetFramework="net45" />
  <package id="bootstrap" version="3.3.6" targetFramework="net45" />
  <package id="jQuery" version="2.2.1" targetFramework="net45" />
  <package id="jquery.slimScroll.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net45" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net45" />
  <package id="Microsoft.TypeScript.Compiler" version="1.8.10" targetFramework="net45" developmentDependency="true" />
  <package id="Select2.js" version="4.0.2" targetFramework="net45" />
  <package id="Spin.js" version="2.3.2.1" targetFramework="net45" />
</packages>